<div class="w-full md:w-96 md:max-w-full mx-auto">
  <div class="card w-96 glass">
  <figure>
  
  <%= image_tag("pexels-rakicevic-nenad-1262304.jpg", alt: "Message sent") %>
  
</figure>
  <div class="card-body">
    <h2 class="card-title">Thank you for your message!</h2>
    <p>Get back to you soon!</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
</div>